cmdinit.bat
build\renderer.pdb
build\renderer.ilk
build\renderer.obj
renderer.sublime-workspace
renderer.sublime-project
build/.vs/renderer/v15/Browse.VC.opendb
build/.vs/renderer/v15/Browse.VC.db
build/.vs/renderer/v15/ipch/AutoPCH/c747aa8ad4f66838/RENDERER.ipch
build/.vs/renderer/v15/ipch/AutoPCH/aae2063b0937a00d/RENDERER.ipch
tools/ctime.exe
build/renderer.pdb
build/renderer.obj
build/renderer.ilk
build/.vs/renderer/v15/.suo
build/psychosnake.pdb
build/psychosnake.obj
build/psychosnake.ilk
build/psychosnake.exe
tools/vc140.pdb
tools/log.txt
tools/genbmpfont.pdb
tools/genbmpfont.obj
tools/genbmpfont.ilk
tools/genbmpfont.exe
tools/.vs/genbmpfont/v15/Browse.VC.opendb
tools/.vs/genbmpfont/v15/Browse.VC.db
tools/.vs/genbmpfont/v15/.suo
build/psychosnake_build_timings.ctm
build/.vs/psychosnake/v15/Browse.VC.opendb
build/.vs/psychosnake/v15/Browse.VC.db
build/.vs/psychosnake/v15/.suo
build/vc140.pdb
build/genfont.pdb
build/genfont.obj
build/genfont.ilk
build/genfont.exe
build/.vs/psychosnake/v15/ipch/AutoPCH/5d43860df5965c82/MAIN_WIN32.ipch
build/.vs/psychosnake/v15/ipch/AutoPCH/e5834b52e2b41039/MAIN_WIN32.ipch
build/.vs/psychosnake/v15/ipch/AutoPCH/2fe0a995840b7c36/MAIN_WIN32.ipch
build/.vs/psychosnake/v15/ipch/AutoPCH/76bd86617bb6bae9/MAIN_WIN32.ipch
build/.vs/psychosnake/v15/ipch/AutoPCH/5f4a49c5727c99e1/PSYCHOSNAKE.ipch
build/.vs/psychosnake/v15/ipch/AutoPCH/585f5edd345fa8e8/PSYCHOSNAKE.ipch
build/.vs/psychosnake/v15/ipch/AutoPCH/248af5461a0ff009/MAIN_WIN32.ipch
scores.txt
