cmdinit.bat
build\renderer.pdb
build\renderer.ilk
build\renderer.obj
renderer.sublime-workspace
renderer.sublime-project
build/.vs/renderer/v15/Browse.VC.opendb
build/.vs/renderer/v15/Browse.VC.db
build/.vs/renderer/v15/ipch/AutoPCH/c747aa8ad4f66838/RENDERER.ipch
build/.vs/renderer/v15/ipch/AutoPCH/aae2063b0937a00d/RENDERER.ipch
tools/ctime.exe
build/renderer.pdb
build/renderer.obj
build/renderer.ilk
build/.vs/renderer/v15/.suo
build/psychosnake.pdb
build/psychosnake.obj
build/psychosnake.ilk
build/psychosnake.exe
